<template name="game">
    {{#contentFor "headerButtonLeft"}}
        {{>ionNavBackButton}}
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
        <h1 class="title">Staubi</h1>
    {{/contentFor}}


    {{#ionContent}}
        {{#unless finished}}
            {{#each crumbs}}
                <div class="crumbs animated" style="top:{{top}};height:{{height}};left:{{left}};width:{{width}}">

                </div>
            {{/each}}
            <div class="staubi">
                <div class="animated img">

                </div>

            </div>
        {{else}}
            <button class="replay button button-block button-positive">
                Replay
            </button>
        {{/unless}}

    {{/ionContent}}
</template>