.crumbs {
  position:absolute;
  top:70%;
  background: url('/crumbs.png') no-repeat center center;
  background-size: 70% auto;
}

.staubi {
  position:absolute;
  height:90%;
  top:0;
  width:30%;
  transition: transform 1.5s;
  .img {
    width:100%;
    height:100%;
    background: url('/staubi.png') no-repeat center bottom;
    background-size: contain;
  }
}

.content {
  background: #F8F6F2;
}